img#bg{
  width: 100%;
  z-index: 2;
}
html{
  
    transition: background-color .5s;
    width: 100%;
    height: 100%;

}
body{
   flex-flow: column;
   transition: background-color .5s;
   /*background-color: blueviolet;*/
   width:1050px;
   text-align: center;
}
div.sidebar-left{
    position: absolute;
    left: 100px;
    /*right: 500px;*/
    top: 25px;
    width: 10%;
    height: 50%;
    background-color: transparent;
    z-index: -2;
}
div.sidebar-right{
    width: 15%;
    float: right;
    position: fixed;
    right: 0;
    top:0;
}

canvas{
  position: fixed;
  width: 320px;
  top: 404px;
  left: 376px;

  z-index: -1;
}
div.canvas-bg{
  position: absolute;
  width: 4vh;
  height: 220px;
  top: 428px;
  left:448px;
  z-index: -2;
  background-color: white;
}
/*canvas#canvas-hour{
    width:45%;
    height: 25%;
    position: absolute;
    top: 10%;
    left: 20%;
}
/*canvas#canvas-min{
    width: 45%;
    height: 25%;
    position: absolute;
    top: 40%;
    left:20%;
}
/*canvas#canvas-sec{
    width: 45%;
    height: 25%;
    position: absolute;
    top: 70%;
    left:20%;
}


/*Player CSS */
.player {
    
    height: 85vh;
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  
  .track-art {
    margin: 25px;
    height: 4em;
    width: 4em;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 5%;
  }
  
  .now-playing {
    font-size: 1rem;
  }
  
  .track-name {
    font-size: 2rem;
  }
  
  .track-artist {
    font-size: 1rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .playpause-track, .prev-track, .next-track {
    padding: 1%;
    opacity: 0.8;
  
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
  
  .playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
  }
  
  .slider_container {
    width: 10%;
    max-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1em;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6em;
    height: 6em;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  
  .seek_slider {
    width: 6em;
  }
  
  .volume_slider {
    width: 6em;
  }
  
  .current-time, .total-duration {
    padding: 10px;
  }
  
  i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
  }
  
  i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
  }